$plano-de-fundo-cor: #1d2631;
$textos-cor: #fff;
$cor-principal: #34e7f8;
$cor-secundaria: #fcfcfc;
$h1-fonte: 4rem;
$p-fonte: 1rem;
$screen-media: 1000px;
$screen-minima: 800px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: $plano-de-fundo-cor;
    color: $textos-cor;
}

.centralizar {
    display: flex;
    align-items: center;
}