header {
    @extend .centralizar;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 30px 8%;
}

.logo {
    @extend .centralizar;
    color: $textos-cor;
    font-size: 28px;
    font-weight: bold;

    i { color: $main-cor; }
}

.navegacao {
    display: flex;
    a {
        color: $cor-secundaria;
        font-size: $p-fonte;
        font-weight: 500;
        margin: 0 30px;
        transition: 0 .55s ease;
    }
}